/* Navbar CSS */

.navbar {
    width: 100%; /* Full width */
    background-color: rgb(166, 0, 255); 
    padding: 10px 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.nav-link {
    color: white; 
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}

.nav-link:hover,
.nav-link.active {
    background-color: rgb(166, 0, 255);
    border-radius: 5px; 
}
