
.card {
    background-color: #f0f8ff; /* Light blue background */
    border: 1px solid #d3d3d3; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin: 50;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card h3 {
    color: rgb(166, 0, 255); 
    margin-top: 0;
    margin-bottom: 10px;
}

.card p {
    color: #333333; 
    margin: 0;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
